@import '/dev/modules/common/css/side/custom-side-sim.less';
/*侧栏头部 begin*/
.m-side-hd-sm{
	padding: 7px 10px;
	img{
		width: 60px;
		height: 60px;
	}	
}
/*侧栏栏头部 end*/
/*菜单栏头部 begin*/
.u-menu-hd-sm{
	padding: 10px 20px;
	text-align: center;
	&:hover{
		cursor: pointer;
		.menuSelBlue;
	}
	.transition;
}
.u-menu-hd-sm a{
	color: @fColorGray
}

/*菜单栏头部 end*/
/*菜单栏主体 begin*/
/*菜单栏主体 end*/