html{
	min-width: 1000px
}
/*侧栏部分 begin*/
.side{
	position: absolute;
	height: 100%;
	float: left;
}
#g-side,#g-side-sm{
	.side;
}
#g-side{
	width: 280px;
}
#g-side-sm{
	width: 50px;
}
#g-main{
	overflow: hidden;
}

/*侧栏部分 end*/