@import '/dev/modules/common/css/head/custom-hd-sim.less';
/*头部模块 begin*/
.m-setting{
	float: right;
}
.m-list{
	li{
		float: left;
		padding: 25px;
		&:hover{
			cursor: pointer;
			.bgDeepTran;
		}
	}
}

/*头部模块 end*/